{% extends "base-full.html" %}

{% block title %}About Sunlight Academy{% endblock %}

{% block content %}
    <div class="module">
        <div class="module span8">
            <h2>About Sunlight Academy</h2>
            <p>Sunlight Academy is the interactive training portal of Sunlight Foundation and aims to provide instructional and educational resources to advance our goal to make government more transparent and accountable.</p>
            <p>Whether you are an investigative journalist trying to get insight on a complex data set, an activist uncovering the hidden influence behind your issue or a congressional staffer in need of mastering legislative data, our transparency training program will teach you how to better connect the dots and make our tools and resources work for you.</p>
            <p>The training modules in the Sunlight Academy range in teaching format from videos to multimedia presentations that cater to both didactic and experiential learners. Be sure to mark finished modules as “completed” to earn prizes and rewards. If you have any questions, comments or suggestions, please email <a href="mailto:training@sunlightfoundation.com">training@sunlightfoundation.com</a>.</p>
            <p>Sunlight Academy is a project of <a href="http://sunlightfoundation.com">Sunlight Foundation</a> and is generously supported by the <a href="http://www.fordfoundation.org/">Ford Foundation</a>.</p>
        </div>
    </div>
{% endblock %}