{% extends "base-full.html" %}

{% block title %}Create Account - Sunlight Academy{% endblock %}

{% block content %}

	<h2>Create your new account</h2>

	<form action="." method="post" class="form-vertical">
		{% csrf_token %}
		<div class="row">
			<div class="span6">
				<fieldset>
					<legend>Your account</legend>
					<ul>
						<li>
							{{ form.username.errors }}
							<label for="id_username">Username</label>
							{{ form.username }}
						</li>
						<li>
							{{ form.first_name.errors }}
							<label for="id_first_name">First name</label>
							{{ form.first_name }}
						</li>
						<li>
							{{ form.last_name.errors }}
							<label for="id_phone">Last name</label>
							{{ form.last_name }}
						</li>
						<li>
							{{ form.email.errors }}
							<label for="id_email">Email</label>
							{{ form.email }}
						</li>
						<li>
							{{ form.phone.errors }}
							<label for="id_phone">Phone Number</label>
							{{ form.phone }}
						</li>
						<li>
							{{ form.notify.errors }}
							<label for="id_notify" class="checkbox asInput tip">{{ form.notify }}Receive email updates from Sunlight Academy</label>
						</li>
					</ul>
				</fieldset>
			</div>
			<div class="span6">
				<fieldset>
					<legend>About you</legend>
					<ul>
						<li>
							{{ form.organization.errors }}
							<label for="id_organization">Organization</label>
							{{ form.organization }}
						</li>
						<li>
							{{ form.is_a.errors }}
							<label for="id_is_a">What best describes your role?</label>
							{{ form.is_a }}
						</li>
						<li>
							{{ form.interests.errors }}
							<label for="id_interests">What are your areas of interest?</label>
							{{ form.interests }}
						</li>
					</ul>
				</fieldset>
			</div>
		</div>
		<div class="form-actions">
			<input type="submit" value="Create Account" class="btn btn-primary btn-large">
		</div>
	</form>

{% endblock %}