<!doctype html>
{% load staticfiles %}
<html class="bb_wrapper">
    <head>
        <meta charset="utf-8">
        {% block og %}
		    <meta property="og:title" content="{{ module.title }}">
		    <meta property="og:description" content="Sunlight Foundation's interactive portal for journalists, activists, researchers and students to explore our tools and develop skill sets to unlock government data.">
		    <meta property="og:url" content="http://training.sunlightfoundation.com/">
		{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        {% block head %}
        	<link rel="shortcut icon" href="http://sunlight-assets.s3.amazonaws.com/academy/favicon.ico">
        {% endblock %}

        <link rel="stylesheet" href="{% static 'sfapp/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'sfapp/css/sfapp.css' %}">
        <link rel="stylesheet" href="https://sunlight-cdn.s3.amazonaws.com/brandingbar/0.3/css/brandingbar.css">
        <link rel="stylesheet" href="https://sunlight-cdn.s3.amazonaws.com/sf-icons/0.2/css/sf-icons.css">
        <!--[if IE 8]>
    		<script src="https://sunlight-cdn.s3.amazonaws.com/sf-icons/0.2/js/sf-icons.js"></script>
		<![endif]-->

        {% block css %}
		    <link rel="stylesheet" href="{% static "css/sunlightacademy.css" %}">
		    <style>
		    	.doormat {
		    		background-color: #fafaf7;
		    		border: 1px solid #ECE9E9;
		    		box-shadow: 0 0 2px #d9d9d9;
		    		color: #666;
		    		font-size: 110%;
		    		margin-bottom: 4em;
		    		text-align: center;
		    		padding: 1em 0;
		    		width: 100%;
		    	}
		   	</style>
		{% endblock %}

        <script type="text/javascript" src="http://use.typekit.com/tab6neo.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        {% if not debug %}
	        <script>
	            var _gaq = _gaq || [];
	            _gaq.push(['_setAccount', 'UA-22821126-23']);
	            _gaq.push(['_trackPageview']);
	            (function() {
	                var ga = document.createElement('script');
	                ga.type = 'text/javascript';
	                ga.async = true;
	                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	                var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);
	            })();

	            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			    ga('create', 'UA-48789618-1', 'training.sunlightfoundation.com');
			    ga('send', 'pageview');
	        </script>
        {% endif %}

    </head>
    <body class="{% block bodyclass %}internal{% endblock %}">

    	<div class="branding-bar" data-bb-brandingbar="true" data-bb-property-id="sunlightlabs-awesome"></div>

        <div class="container">
			{% block container %}
			    <div id="main-header" class="clearfix">
			        {% block header-nav %}
			            <div class="nav">
			                <ul class="account listNav unstyled">
			                    {% if request.user.is_authenticated %}
			                        <li><a href="/account/logout/">Logout</a></li>

			                        <li><a href="/about/">About</a></li>
			                        <li><a href="/events/">Training Events</a></li>
			                        <li {% if not request.user.is_staff %}class="first"{% endif %}><a href="/account/"><i class="icon-white icon-user"></i> Account Settings</a></li>
			                        {% if request.user.is_staff %}
			                            <li class="first"><a href="/admin/"><i class="icon-cog icon-white"></i> Admin</a></li>
			                        {% endif %}
			                    {% else %}
			                        <li class="first"><a href="/account/login/">Log In</a></li>
			                    {% endif %}
			                </ul>
			            </div>
			        {% endblock %}
			        <h1><a href="/">Sunlight Academy</a></h1>
			    </div>
			    {% if messages %}
			        <div class="messages">
			            <ul>
			                {% for message in messages %}
			                    <li class="alert alert-success">{{ message }}</li>
			                {% endfor %}
			            </ul>
			        </div>
			    {% endif %}
			    {% if request.show_doormat %}
					<div class="doormat">
						We need your feedback to make Sunlight Academy better! <a href="https://www.surveymonkey.com/s/SunlightAcademy">Take this quick survey.</a>
					</div>
				{% endif %}
			    <div id="fb-root"></div>
			{% endblock %}
        </div>

        <div class="sf-footerWrapper">
            <div class="sf-footer container">
                <div class="row">
                    <div class="span6 signup span-divider">
                        <h4>Like this Project and Want to Discover Others Like It?</h4>
                        <span class="tip">Join the Sunlight Foundation's open government community to learn more</span>
                        <form action="/subscribe/" method="post" id="sfapp-subscribe-form" class="form-inline">
                            {% csrf_token %}
                            <input type="hidden" name="response" value="json">
                            <input type="text" name="email" placeholder="your email address">
                            <input type="text" name="zipcode" placeholder="your zip code">
                            <button type="submit" class="btn btn-sunlight">Sign Up</button>
                        </form>
                    </div>
                    <div class="span6 terms">
                        <p>Our <a href="http://sunlightfoundation.com/legal/privacy/">privacy policy</a> details how personally identifiable information that is collected on our web sites is handled. Read our <a href="http://sunlightfoundation.com/legal/terms/">terms of service</a>.</p>
                        <p>This work by <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, unless <a href="http://sunlightfoundation.com/colophon/">otherwise noted</a>, is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'sfapp/js/jquery-1.8.3.min.js' %}"></script>
        <script src="{% static 'sfapp/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'sfapp/js/sfapp.js' %}"></script>
        <script src="https://sunlight-cdn.s3.amazonaws.com/brandingbar/0.3/js/brandingbar.min.js.gz"></script>
        {% block js %}
		    <script src="{% static "js/theacademy.js" %}"></script>
		    <script src="https://s3.amazonaws.com/assets.sunlightfoundation.com/social/scripts/simple-socialite-pack.min.js" async></script>
		{% endblock %}

    </body>
</html>
