{% extends "base-full.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/sunlightacademy.css" %}">
    <link rel="stylesheet" href="{% static "css/ti-webinars.css" %}">
{% endblock %}

{% block js %}
    <script src="{% static "js/theacademy.js" %}"></script>
    <script src="https://s3.amazonaws.com/assets.sunlightfoundation.com/social/scripts/simple-socialite-pack.min.js" async></script>
{% endblock %}

{% block og %}
    <meta property="og:title" content="Enhancing Transparency In Political Finance With Technology">
    <meta property="og:description" content="Join the Sunlight Foundation and Transparency International for a free webinar series to learn more and uncover the influence of money in elections.">
    <meta property="og:url" content="http://training.sunlightfoundation.com/ti-webinar/">
{% endblock %}

{% block title %}Enhancing Transparency In Political Finance With Technology Webinar Series{% endblock %}

{% block container %}
    <div id="main-header" class="clearfix">
        <a class="ti-logo" href="">Transparency International</a>
        <h1><a href="/">Sunlight Academy</a></h1>
    </div>

    <div id="fb-root"></div>

    <div class="row">
    	<div class="span4 webinar-intro">
    		<h2>Enhancing Transparency <br>in Political Finance <br>with Technology</h2>
			<p>No matter what country you are from, money is an inescapable part of political campaigns. But citizens have the right to know who is really funding their local candidates and influencing the results of elections.</p>
			<p>Join us for a free webinar series to learn more and uncover the influence of money in elections.</p>
    	    <div class="shareables">
				<div class="share-buttons module"
					data-socialite="auto"
					data-services="twitter-tweet,facebook-like"
					data-options="linkBack=http://snlg.ht/1dQxV1T&amp;width=90&amp;text=How%20can%20tech%20enhance%20political%20finance%20transparency%20worldwide%3F%20Join%20a%20free%20%40sunfoundation%20%40anticorruption%20web%20series:&amp;showCounts=right"
					data-facebook-like-options="layout=button_count">
				</div>
    		</div>
    	</div>

    	<div class="span8">
    		<iframe width="620" height="349" src="//www.youtube.com/embed/X8QbrvwFFhQ?autohide=1&color=white" frameborder="0" allowfullscreen></iframe>
    	</div>
    </div>

	<hr>

    <div class="row">

    	<div class="span4 webinar archived">
    		<h3>Political Finance in the Digital Age: How can accountability be enhanced by technology and open data?</h3>
    		<div class="datetime">
    			<span class="date">February 11th, 2014</span>
    			<span class="time">10-11AM ET</span>
    		</div>
    		<div class="webinar-details">
				<p>Join us for this inaugural webinar as we explore the world of political finance from the different types of data that is available to how this information can improve accountability in government and the electoral process.</p>
				<p>The session will introduce ways technology has changed the way political finance data is made available and illustrate through examples different tools and resources that can be built off this data. Lastly, we will discuss the impact of having this type of data available and accessible for journalists and NGOs.</p>
    		</div>
    		<a class="btn btn-webinar" href="http://www.youtube.com/watch?v=ck_EvJLMOr8">View Archived Webinar</a>
    	</div>

    	<div class="span4 webinar">
    		<h3>How can the transparency of political finance be enhanced when we don’t have reliable government data?</h3>
    		<div class="datetime">
    			<span class="date">March 11th, 2014</span>
    			<span class="time">10-11AM ET</span>
    		</div>
    		<div class="webinar-details">
				<p>Very often political finance information is not available, so creative projects have sprung up to crowdsource information or connect the dots by using other available datasets.</p>
				<p>The second session of our webinar series will introduce ways technology can be exploited to monitor election spendings or explore undue influence on the decision-making process. We will also identify examples of inspiring and innovative things that agencies/local governments are doing in this space, projects that might be set as examples to other governments. Lastly, we will discuss possible ways of advocating for enhanced data disclosure in political finance and introduce some of the existing advocacy materials.</p>
    		</div>
    		<a class="btn btn-webinar" href="https://transparency.adobeconnect.com/opendatawebinar2/event/registration.html">Register for this Webinar</a>
    	</div>

    	<div class="span4 webinar new">
    		<h3>Beyond government: How can you inject political finance information in your life and why should anyone care? What’s next?</h3>
    		<div class="datetime">
    			<span class="date">April 14th, 2014</span>
    			<span class="time">10-11AM ET</span>
    		</div>
    		<div class="webinar-details">
				<p>This final session of our webinar series will explore ways to increase citizen awareness and participation in using political finance data.</p>
				<p>We will introduce some of the creative ideas that inject political finance information into the everyday life of people and brainstorm about the possible ways to make this information relevant on an individual level. We will also talk about developing crowdsourced projects to network with civic hackers and other ways of building community. Lastly, we will open up to the floor for a brainstorm session around the challenges and next steps to enhance accountability in political financing.</p>
    		</div>
    		<a class="btn btn-webinar">Upcoming</a>
    	</div>

    </div>

{% endblock %}
